.row { 
  display:flex;
  flex-wrap: wrap;
}

.column {
  text-align: center;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  
  margin: 10px;
  padding: 10px;
  
}

.flex-basis-600 {
    flex-basis: 600px;
}

.flex-basis-500 {
    flex-basis: 500px;
}

.flex-basis-400 {
    flex-basis: 400px;
}

.flex-basis-300 {
    flex-basis: 300px;
}

.flex-basis-150 {
    flex-basis: 150px;
}

.flex-basis-auto {
    flex-basis: auto;
}

.col-1 {
  max-width: calc(90% / 12);
}
.col-2 {
  max-width: calc(90% / 12 * 2);
}
.col-3 {
  max-width: calc(90% / 12 * 3);
}
.col-4 {
  max-width: calc(90% / 12 * 4);
}
.col-5 {
  max-width: calc(90% / 12 * 5);
}
.col-6 {
  max-width: calc(90% / 2);
}

@media screen and (max-width: 1000px) {
  .container {
    overflow: auto;
  }
   .column {
     min-width: 100%;
     width: 100%;
     margin: 10px 0;
	 padding: 0px;
  }
}