.gallery ul {
  display: flex;
  flex-wrap: wrap;
  margin: 2vmin;
  list-style-type: none; /* Remove bullets */
}

.gallery li {
  height: 40vh;
  flex-grow: 1;
  margin: 2vmin;
}

.gallery li:last-child {
  flex-grow: 10;
}

.gallery img {
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
  border-radius: 1vmin;
  border: none;
  transition: all 0.5s ease-in-out;
}

.gallery img:hover {
  transform: scale(1.5);
}

.gallery ul::after {
content:"";
flex-grow: 10;
}

@media (max-aspect-ratio: 1/1) {
  .gallery li {
    height: 30vh;
  }
}
@media (max-height: 480px) {
  .gallery li {
    height: 80vh;
  }
}
@media (max-aspect-ratio: 1/1) and (max-width: 480px) {
  .gallery ul {
    flex-direction: row;
  }

  .gallery li {
    height: auto;
    width: 100%;
  }

  .gallery img {
    width: 100%;
    max-height: 75vh;
    min-width: 0;
  }
}